PDF_FILE_PATH=files/[FILENAME.EXT] # <-- PUT YOUR PDF FILENAME HERE

# EMBEDDING
EMBEDDING_MODEL_ID=Qwen/Qwen3-Embedding-0.6B
# === Use 'cpu' for standard computers. If you have a powerful NVIDIA GPU, you can use 'cuda'.
CPU_OR_CUDA=cpu
# ===

# QDARNT
QDRANT_URL=http://documents-rag-qdrant:6333
QDRANT_API_KEY= # You must insert password at http://localhost:6333/dashboard 
QDRANT_COLLECTION=pdf-chunks

# GOOGLE
GOOGLE_API_KEY=
GOOGLE_MODEL_ID=gemini-2.5-flash